In [1]:
import pandas as pd
import numpy as np

In [2]:
fao = pd.read_csv('../data/FAOSTAT_data_8-28-2020.csv')
wfp = pd.read_csv('../data/wfpvam_foodprices.csv')

C:\Users\jaker\anaconda3\envs\jakerenv\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
fao

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
0,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1993,1993,7021,Annual value,USD,461.1,NaN,Official data
1,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),176,"Beans, dry",1993,1993,7021,Annual value,USD,447.0,NaN,Official data
2,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),1182,"Honey, natural",1993,1993,7021,Annual value,USD,4375.9,NaN,Official data
3,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),56,Maize,1993,1993,7021,Annual value,USD,243.2,NaN,Official data
4,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),945,"Meat live weight, cattle",1993,1993,7021,Annual value,USD,1565.9,NaN,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148078,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),122,Sweet potatoes,2017,2017,7021,Annual value,USD,330.0,NaN,Official data
148079,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),826,"Tobacco, unmanufactured",2017,2017,7021,Annual value,USD,2960.0,NaN,Official data
148080,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),388,Tomatoes,2017,2017,7021,Annual value,USD,786.0,NaN,Official data
148081,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),463,"Vegetables, fresh nes",2017,2017,7021,Annual value,USD,607.0,NaN,Official data
148082,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),15,Wheat,2017,2017,7021,Annual value,USD,500.0,NaN,Official data

In [4]:
wfp.adm0_name.value_counts()

Rwanda                  134075
Bassas da India         108279
Syrian Arab Republic     78862
Mali                     56594
Kyrgyzstan               54899
                         ...
Azerbaijan                 125
Eritrea                    100
Georgia                     80
Venezuela                    6
Italy                        1
Name: adm0_name, Length: 99, dtype: int64

In [14]:
wfp[wfp.adm0_name == 'Rwanda']

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
1052940,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,7,2010,107.5000,NaN
1052941,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,8,2010,121.6667,NaN
1052942,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,9,2010,108.7500,NaN
1052943,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,10,2010,177.5000,NaN
1052944,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,11,2010,181.2500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187010,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,7,2019,200.0000,NaN
1187011,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,9,2019,150.0000,NaN
1187012,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,11,2019,250.0000,NaN
1187013,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,12,2019,150.0000,NaN
1187014,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,2,2020,150.0000,NaN

In [13]:
food_avgs = wfp.groupby(['cm_name', 'mp_year'])['mp_price'].mean().unstack()

In [19]:
food_avgs.describe()

mp_year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,3.000000,3.000000,4.000000,4.000000,10.000000,12.000000,16.000000,17.000000,21.000000,21.000000,...,3.050000e+02,3.560000e+02,3.940000e+02,4.280000e+02,4.640000e+02,4.380000e+02,4.530000e+02,4.770000e+02,4.890000e+02,6.860000e+02
mean,108.648870,110.986408,83.327626,81.113417,70.184455,194.786743,304.387529,43049.442326,33828.693594,29926.688859,...,2.166988e+04,2.931703e+04,2.773986e+04,2.596866e+04,1.859602e+04,2.100593e+04,1.183745e+04,1.552961e+04,1.509468e+04,1.241542e+04
std,80.395104,67.566057,81.709494,83.226532,82.372694,364.319453,526.061464,144777.649348,130079.939218,113533.083289,...,3.150272e+05,3.498963e+05,3.418829e+05,3.383417e+05,2.005981e+05,2.214975e+05,1.029830e+05,1.487983e+05,1.231499e+05,8.798828e+04
min,58.695652,69.988636,1.527500,1.555000,1.322667,1.332500,1.688333,1.773333,1.110000,1.695000,...,1.600000e-01,4.370833e-01,2.664304e-01,4.512140e-01,4.524306e-01,2.485333e-01,1.700000e-01,2.316200e-01,2.422381e-01,1.866667e-01
25%,62.278861,71.994318,46.827188,44.567321,9.450700,5.094026,8.634119,9.633649,8.320890,8.404911,...,3.050000e+01,5.082443e+01,4.842211e+01,4.421568e+01,4.718272e+01,4.836250e+01,4.769313e+01,5.906708e+01,7.644073e+01,1.252021e+02
50%,65.862069,74.000000,67.697057,62.324334,51.549668,75.625643,111.487939,160.506024,171.372093,170.000000,...,2.316310e+02,3.987898e+02,4.430582e+02,4.604909e+02,4.261464e+02,3.647831e+02,3.478150e+02,3.982944e+02,5.263739e+02,7.650271e+02
75%,133.625479,131.485294,104.197496,98.870430,73.387636,118.528898,170.299842,1853.018868,1380.733333,1253.000000,...,1.341221e+03,1.800342e+03,2.050629e+03,2.919290e+03,2.451725e+03,2.293162e+03,2.419247e+03,2.583303e+03,3.013472e+03,3.400473e+03
max,201.388889,188.970588,196.388889,198.250000,255.763889,1225.000000,1668.098765,590833.500000,592625.000000,516000.000000,...,5.500053e+06,6.206308e+06,6.504234e+06,6.731328e+06,3.475853e+06,3.453254e+06,2.027340e+06,3.003641e+06,2.268161e+06,1.506778e+06

In [20]:
food_avgs

mp_year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
cm_name,,,,,,,,,,,,,,,,,,,,,
Apples (dried) - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,113.988323,97.515655,106.158624,92.575341
Apples (red) - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1791.146808,1519.155853,1839.837244,1961.511506,208.911555,94.947662,141.168070,124.209620,127.187936
Apples (red) - Wholesale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3028.583333,3217.440191,3088.000000,NaN,NaN,NaN,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.530270,45.282934,53.651050,59.909505,116.962377,147.081720,51.959800,222.107711,245.675515,817.156794
Apples - Wholesale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.234167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yam - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,441.333333,356.916667,324.761905,263.916609,237.552281,328.764522,387.919561,424.400385,418.571140,334.122590
Yam - Wholesale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,164.618582,230.938807,267.910131,5518.718043,11161.964962,14276.705907,8091.539848,3299.133205,5521.632374,17874.193538
Yeast - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1993.664122,NaN,NaN,NaN,NaN
Yogurt - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.565789,4.795627,264.564723,241.564184,207.357032,230.149018,336.536964
Zucchini - Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,257.512537,290.674051,269.358122,268.755353,285.266489,NaN,3.477094,3.656315,4.288779,5.758475