In [1]:
import pandas as pd
import numpy as np

In [3]:
fao = pd.read_csv('../data/FAOSTAT_data_8-28-2020.csv')
wfp = pd.read_csv('../data/wfpvam_foodprices.csv')

C:\Users\jaker\anaconda3\envs\jakerenv\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
fao

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
0,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1993,1993,7021,Annual value,USD,461.1,NaN,Official data
1,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),176,"Beans, dry",1993,1993,7021,Annual value,USD,447.0,NaN,Official data
2,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),1182,"Honey, natural",1993,1993,7021,Annual value,USD,4375.9,NaN,Official data
3,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),56,Maize,1993,1993,7021,Annual value,USD,243.2,NaN,Official data
4,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),945,"Meat live weight, cattle",1993,1993,7021,Annual value,USD,1565.9,NaN,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148078,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),122,Sweet potatoes,2017,2017,7021,Annual value,USD,330.0,NaN,Official data
148079,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),826,"Tobacco, unmanufactured",2017,2017,7021,Annual value,USD,2960.0,NaN,Official data
148080,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),388,Tomatoes,2017,2017,7021,Annual value,USD,786.0,NaN,Official data
148081,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),463,"Vegetables, fresh nes",2017,2017,7021,Annual value,USD,607.0,NaN,Official data
148082,PP,Producer Prices,181,Zimbabwe,5532,Producer Price (USD/tonne),15,Wheat,2017,2017,7021,Annual value,USD,500.0,NaN,Official data

In [7]:
wfp.adm0_name.value_counts()

Rwanda                  134075
Bassas da India         108279
Syrian Arab Republic     78862
Mali                     56594
Kyrgyzstan               54899
                         ...
Azerbaijan                 125
Eritrea                    100
Georgia                     80
Venezuela                    6
Italy                        1
Name: adm0_name, Length: 99, dtype: int64

In [14]:
wfp[wfp.adm0_name == 'Rwanda']

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
1052940,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,7,2010,107.5000,NaN
1052941,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,8,2010,121.6667,NaN
1052942,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,9,2010,108.7500,NaN
1052943,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,10,2010,177.5000,NaN
1052944,205.0,Rwanda,2587,Kigali City/Umujyi wa Kigali,1054,Gahanga,51,Maize - Retail,0.0,RWF,15,Retail,5,KG,11,2010,181.2500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187010,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,7,2019,200.0000,NaN
1187011,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,9,2019,150.0000,NaN
1187012,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,11,2019,250.0000,NaN
1187013,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,12,2019,150.0000,NaN
1187014,205.0,Rwanda,21973,West/Iburengerazuba,2379,Kivuruga,455,Cassava leaves - Retail,0.0,RWF,15,Retail,5,KG,2,2020,150.0000,NaN

In [19]:
wfp.mp_year.value_counts()

2019    186392
2018    175420
2017    160456
2020    140434
2015    134599
2016    124590
2014    120790
2013    107725
2012     86191
2011     65117
2010     47385
2009     43277
2008     36104
2007     26209
2006     19184
2005     13717
2004      9575
2003      8610
2002      6133
2001      4249
2000      3750
1996      2022
1998      1792
1999      1713
1997      1638
1994      1537
1995      1287
1993       284
1992       280
1990       140
1991       134
Name: mp_year, dtype: int64